<% include ../header.ejs %>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="/stylesheets/ejqxw/ejqxw.css">
<link rel="stylesheet" href="/stylesheets/rightBar/rightBar.css">
<script src="/lib/jquery-3.1.1.min.js"></script>
<script src="/javascripts/yjqxw/yjqxw.js"></script>
<% include ../nav.ejs %>
<% include ../rightBar.ejs %>

<div id="yjqxw2">
    <div class="yjqxw2-banner"></div>
    <input type="hidden" id="returned-article" value="<%= Content.uploadYjqxw[0].article_content %>">

    <div class="yjqxw-article">

		<h2><%= Content.uploadYjqxw[0].title %></h2>
		<p class="article-info">发布时间：<span class="publish-time"><%= Content.uploadYjqxw[0].time %></span>&nbsp;&nbsp;来源：<%= Content.uploadYjqxw[0].from %>&nbsp;&nbsp;阅读量：<%= Content.uploadYjqxw[0].readed %></p>
		<div class="hr-line"></div>
		<div id="yjqxw-article-content">
			<%- Content.uploadYjqxw[0].article_content %>
		</div>
    </div>
<div>


<% include ../footer.ejs %>